.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #eaeaea;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  box-sizing: border-box;
}

.header__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 80px;
}

.nav {
  margin-top: 30px;
  align-self: flex-end;
  margin-right: 80px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0 70px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  font-style: normal;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  font-weight: 400;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 70px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 80px;
}

.header__footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: flex-end;
  bottom: 40px;
  left: 80px;
  right: 80px;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__schedule {
  display: flex;
  flex-direction: column;
}

.header__content {
}

.recipes {
  padding: 100px 80px;
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 683px;
  margin: 0 0 24px 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 440px;
  margin: 0 0 60px 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  max-width: 480px;
  width: 100%;
}

.recipes__iframe {
  width: 480px;
  height: 248px;
  border: none;
  margin-bottom: 20px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.recipes__video-caption p {
  margin: 0;
}
