.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  box-sizing: border-box;
}

.header__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 80px;
}

.nav {
  margin-top: 30px;
  margin-right: 0;
  align-self: flex-end;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  font-weight: 400;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 80px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 40px;
  padding: 0;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__content {
  margin-top: 133px;
  display: flex;
  flex-direction: column;
}
